* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lato';
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: 'Merienda';
    color: rgb(109, 73, 59);
    font-size: 50px;
    line-height: 50px;
    padding-top: 80px;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 32px;
}

p {
    font-size: 20px;
    line-height: 32px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    color: rgb(165, 87, 59);
}

.container {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.header {
    background: rgb(193, 155, 135);
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(122, 92, 73);
}

.nav-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}

.main {
    background: rgb(252, 249, 242);
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left_side {
    background: rgb(244, 226, 211);
    padding: 20px 26px 0 26px;
}

.right_side {
    width: 50%;
}

.contact {
    margin-top: 16px;
}

.contact,
.aboutMe,
.skills,
.code,
.projects,
.education,
.english {
    padding-bottom: 24px;
}

.aboutMe {
    max-width: 800px;
    padding-top: 24px;
}

.aboutMe__title,
.code__title,
.projects__title,
.education__title,
.english__title {
    width: 200px;
    background: radial-gradient(circle at 40% -40%, rgb(244, 226, 211) 80%, transparent 80.5%);
    color: rgb(122, 92, 73);
}

.skills__title,
.contact__title {
    width: 200px;
    background: radial-gradient(circle at 40% -40%, rgb(252, 249, 242) 80%, transparent 80.5%);
    color: rgb(122, 92, 73);
}

.footer {
    background: rgb(193, 155, 135);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
}

.footer__git {
    font-size: 20px;
    line-height: 32px;
}

.footer__rs {
    width: 100px;
}